@import url('http://fonts.cdnfonts.com/css/alleyster');

.app-banner2{
  background-image: url(https://i.ibb.co/BLs7nPr/WEBSITE-BG.png);
  webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-repeat: no-repeat;
  background-size: contain;
  position: relative;
    overflow: hidden;
    min-height: calc(100vh - 80px);
}